/*nor*/
body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*lib*/
.row:after {
    content: "";
    clear: both;
    display: block;
}

.actived_tab {
    font-weight: bold;


}

/*cus*/
.main_page {
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #afafaf;
}

/*header*/
header > .logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #999;
}

header > .menu {
    float: right;
    width: 600px;
    /*    height: 130px;*/
    margin-top: 28px;
    margin-right: 30px;
    background-color: #888;

}

header > .menu li {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;


}

header > .menu li a {
    display: block;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}

header > .menu li a:hover {
    background-color: cornsilk;
    /*    color: rgba(0, 0, 0, .4);*/

}

header > .menu li ul.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 39px;
    background-color: white;

}

header > .menu li ul.submenu li {
    width: 100%;
}

.slide {
    /*    float: left;*/
    /*    width: 1200px;*/
    height: 300px;
    background-color: #777;
}
/*contents*/
.contents > div {
    float: left;
    width: 400px;
    height: 200px;
}

.contents > .notice {
    background-color: #666;
}

/*Tab*/
.tab_menu {
    padding:10px;
    height: 180px;
    float: left;
}

.tab_btn li {
    float: left;
    /*    width:px;*/
    /*    font-size: 13px;*/
}

/*텝메뉴 공지사항*/
.tab_btn li a {
    position: relative;
    top: 40px;
    padding: 8px;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
    border-bottom: none;

}
.tab_btn li a:hover{
    background-color: beige;
}

/*공지사항 내용*/
.tab_con {
    position: relative;
    float: left;
    padding: px;
    top: 45px;
    background-color: white;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 1px;
}

.tab_con li {
    float: left;

}

.tab_con li a {
    display: block;
    width: 230px;
    margin-left: px;
    line-height: 25px;
    text-align: left;
    position: relative;
    top: 5px;
    float: left;
    font-size: 12px;
}

.tab_con li span {
    float: right;
}



.banner {
    background-color: #555;
}

.shortcut {
    background-color: #444;
}

footer > .footlogo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #333;
}

footer > .copyright {
    float: left;
    width: 700px;
    height: 100px;
    background-color: #222;
}

footer > .sns {
    float: left;
    width: 250px;
    height: 100px;
}
