/*nor*/
body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*lib*/
row:after {
    content: "";
    clear: both;
    display: block;
}

/*cus*/
.main_page {
    width: 1000px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

.side {
    float: left;
    width: 250px;
    height: 650px;

}

.side > .logo {
    width: 250px;
    height: 100px;
    background-color: lightcyan;

}

.side > .logo img {
    width: 200px;
    height: 45px;
    padding: 25px;
}

/*menu*/
.side > .menu {
    width: 250px;
    background-color: beige;
}

.side > .menu li {
    text-align: center;
}

.side > .menu li a {
    display: block;
    padding: 15px;
    font-weight: bold;
}

/*submenu*/
.side > .menu li ul.submenu {
    background-color: aliceblue;
    display: none;
}

.side > .menu li ul.submenu li {}

/*slide*/
.right_side {
    float: left;
    width: 750px;
    height: 650px;
    background-color: antiquewhite;
}

.slide {
    height: 350px;
    overflow: hidden;
}

.slide .slider {
    position: relative;
}

.slide .slider p {
    position: absolute;
    margin: 0;
    padding: 0;
}

.slide .slider p:first-child {
    top: 0;
}

.slide .slider p:nth-child(2) {
    top: 350px;
}

.slide .slider p:nth-child(3) {
    top: 700px;
}

/*contents*/
.contents > div {
    float: left;
    width: 33.3333%;
}

.notice {
    float: left;
    width: 250px;
    height: 200px;
}

.tab_menu {
    float: left;
    width: 250px;
    height: 200px;
    background-color: aliceblue;
}

.tab_btn li {
    float: left;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: cornflowerblue;
}
.tab_con .contents{
    float: left;
     margin-left: 5px;
    width: 240px;
    height: 150px;
    background-color: beige;
    
}
.contents li{
    padding: 5px;
    line-height: 27px;
}
.contents li span{
    float: right;
}
.gallery ul{
    display: flex;
    margin-left: 5px;
     width: 240px;
    height: 150px;
    background-color: beige;
    
}
.gallery li{
    margin: auto;
}
.gallery img{
    width: 60px;
    height: 60px;
}
.layer_bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
}
.layer{
    position: fixed;
    display: none;
    width: 400px;
    height: 300px;
    left: 30%;
    top: 35%;
    background-color: white;
    z-index: 100;
}
.layer h2{
    text-align: center;
}
.layer_body{
    padding: 10px;
    text-align: justify;
}
.layer button{
    position: absolute;
    bottom: 30px;
    right: 30px;
}