/*nor*/
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*lib*/
.row:after {
    content: "";
    clear: both;
    display: block;
}

/*cus*/
.main_page {
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

header > .logo {
    width: 250px;
    height: 100px;
    background-color: aliceblue;
}

.logo img {
    width: 200px;
    height: 40px;
    padding: 30px;
}

/*menu*/
header > .menu {
    float: right;
    width: 600px;
    margin-top: -38px;
    margin-right: 28px;
    background-color: cadetblue;
}
header > .menu li{
    float: left;
    position: relative;
    width: 25%;
    
}
header > .menu li a{
    text-align: center;
    display: block;
    padding: 10px;
}
header > .menu li:hover> a{
    background-color: burlywood;
}
header > .menu li ul.submenu{
    position: absolute;
    background-color: aliceblue;
    z-index: 2;
}
header > .menu li ul.submenu li{
    width: 100%;
}
.menu_bg{
    position: absolute;
    display: none;
    width: 1200px;
    height: 124px;
    top: 103px;
    left: 33px;
    background-color: aquamarine;
    z-index: 1;
}
/*slide*/
.slide {
    height: 300px;
    overflow: hidden;
}

.slider img {
    width: 1200px;
    height: 300px;
}

.slide .slider {
    position: relative;

}

.slide .slider p {
    position: absolute;
    margin: 0;
    padding: 0;
}

/*.slide .slider p:first-child{
    
}*/
.contents > div {
    float: left;
    width: 33.3333%;
}

.contents .notice {
    float: left;
    width: 400px;
    height: 200px;
    background-color: lightblue;
}

.tab_menu {
    width: 400px;
    height: 200px;
    padding: 5px;
}

.tab_btn li {
    float: left;
    position: relative;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: burlywood;
}

.tab_con {
    float: left;
    width: 380px;
    height: 150px;
    background-color: aliceblue;
}

.tab_con .contents {
    padding: 5px;
    line-height: 30px;

}

.gallery ul {
    display: flex;
    width: 380px;
    height: 150px;
    background-color: aliceblue;
}

.gallery li {
    display: block;
    margin: auto;
}

.layer_bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.layer {
    display: none;
    position: fixed;
    width: 400px;
    height: 300px;
    left: 35%;
    top: 30%;
    padding: 5px;
    background-color: white;
    z-index: 100;
}

.layer h2 {
    text-align: center;
}

.layer_body {
    text-align: center;
}

.close_btn {
    position: absolute;
    bottom: 13px;
    right: 10px;
}
